.gradient-custom-2 {
    background: #fccb90;
  
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }

.box-shadow{
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.border-gradient-1{
    border-image: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) 30;
    border-width: 1px;
    border-style: solid;
}

.bg-gray{
    background: #F5F7FA;
}
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }